<div *ngFor="let progressInfo of progressInfos">
    <span>{{ progressInfo.fileName }}</span>
    <mat-toolbar class="progress-bar">
      <mat-progress-bar
        color="accent"
        [value]="progressInfo.value"
      ></mat-progress-bar>
      <span class="progress">{{ progressInfo.value }}%</span>
    </mat-toolbar>
  </div>
  
  <mat-form-field>
    <div>
        <mat-toolbar>
            <input matInput [value]="selectedFileNames.length ? selectedFileNames : 'Add logo'" />
          </mat-toolbar>
  
        <div>
          <img *ngFor='let preview of previews' [src]="preview" class="preview">
        </div>
      <input
        type="file"
        id="fileInput"
        name="fileInput"
        accept="image/*" multiple 
        (change)="selectFiles($event)"
      />
      
    </div>
  </mat-form-field>
  <mat-form-field>
    <div>
        <mat-toolbar>
            <input matInput = 'School Name' placeholder="School Name">
        </mat-toolbar>
    </div>
  </mat-form-field>
  <mat-form-field>
    <div>
        <mat-toolbar>
            <input matInput = 'Team Name' placeholder="Team Name">
        </mat-toolbar>
    </div>
  </mat-form-field>
  <mat-form-field>
    <div>
        <mat-toolbar>
            <input matInput = 'Number of Members' placeholder="Number of Team Members">
        </mat-toolbar>
    </div>
  </mat-form-field>
  
  
<div *ngIf="message.length" class="message">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
</div>
  